

html{
    height:100%;
    width: 100%;
}

body{
    display: flex;
    height:99.7%;
    width: 100%;
    margin:0px auto;
    overflow:hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.menus{
    display: flex;
    flex-direction: row;
    /* width: 15%; */
    justify-content: space-between;
}

.bar{
    display: flex;
    flex-direction: column;
    width: 29%;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 140px;
}


.funC {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.fun {
  padding: 10px 20px;
  background-color: #007bff; /* 设置按钮背景颜色 */
  color: #fff; /* 设置按钮文字颜色 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease; /* 添加渐变过渡效果 */
}

.fun:hover {
  background-color: #0056b3; /* 设置按钮在悬停状态下的背景颜色 */
}

.fun:active {
  background-color: #003d80; /* 设置按钮在被点击时的背景颜色 */
}


.sidebar {
    display: flex;
    flex: 1 0 15%;
    padding: 30px;
    background-color: #f4f5f4;
    position: relative;
    text-align: center;
    height: 100%;
    width: 170px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.conversation-list {
    max-height: 750px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}


/* 给滚动条轨道添加样式 */
.conversation-list::-webkit-scrollbar-track {
    background-color: #262626;
}

/* 给滚动条滑块添加样式 */
.conversation-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

/* 指定滚动条的宽度和高度 */
.conversation-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}



.conversation {
    display: flex; /* 使其成为块级元素 */
    width: 140px; /* 你可以根据需要调整这个值 */
    overflow: hidden; /* 隐藏超出的内容 */
    white-space: nowrap; /* 防止文本换行 */
    text-overflow: ellipsis; /* 如果你希望显示省略号，可以使用这个属性 */
    margin: 2px;
    color: black;

    /* 应用遮罩 */
    -webkit-mask-image: linear-gradient(to right, black 0%, black 80%, transparent 100%);
    mask-image: linear-gradient(to right, black 0%, black 80%, transparent 100%);
}

.conversation-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden; /* 控制文本溢出时的处理 */
    white-space: nowrap; /* 防止文本换行 */
    text-overflow: ellipsis; /* 使用省略号表示文本溢出 */
    position: relative; /* 为 ::after 伪元素做准备 */
}

.conversation-list li::after {
    content: attr(data-full-name); /* 获取完整文本内容 */
    position: absolute;
    top: 0;
    left: 100%;
    white-space: normal; /* 显示完整文本 */
    background-color: #f9f9f9; /* 背景颜色 */
    padding: 5px; /* 添加内边距 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    display: none; /* 默认隐藏 */
}

.conversation-list li:hover::after {
    display: block; /* 悬停时显示完整文本 */
}


.sidebar h3 {
    margin-bottom: 10px;
}

/* 从会话列表复制会话项样式 */
.new-conversation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.new-conversation-button {
    cursor: pointer;
    padding: 5px;
    background-color: #f4f5f4;
    margin-bottom: 5px;
    border: 0px solid #b7b7b7;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    color: black;
    /* 其他样式 */
}

.new-conversation-button:hover {
    background-color: #f4f5f4;
}

.new-conversation-button:focus {
    outline: none;
    background-color: #f4f5f4;
    /* 其他样式 */
}

.new-conversation-button:active {
    background-color: #f4f5f4;
    /* 其他样式 */
}

.sidebar.func02 ul {
    list-style-type: none;
    padding-left: 0;
    text-align: justify;
    /*text-align-last: justify;*/
}

.sidebar.func02 li {
    width: 165px;
    cursor: pointer;
    /*color: aliceblue;*/
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 12px;
    height: 93px;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    position: relative;
    border: 2px solid #eff0f0;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .1s ease-in-out, border-color .1s ease-in-out;
    background: #eff0f0;
}

.sidebar.func02 li .title,
.sidebar.func02 li .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar.func02 li:hover .title,
.sidebar.func02 li:hover .message {
    white-space: normal;
    overflow: visible;
}



.sidebar.func02 li:hover{
    background-color:#666666;
}

.sidebar.func02 li:focus{
    background-color:#333333;
}

.sidebar.func02 li.selected {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
}

.delet-conversation{
    position: relative;
    width: 10px;
    height: 10px;
    background-image: url('@/assets/delete_image.png');
    background-size: cover;
    border-radius: 50%;
    border: none;
    background-color: #333333;
    background-position: 50% 50%;
    cursor: pointer;
}

.delet-conversation:hover{
    background-image: url('@/assets/delete_image_hov.png');
}



.user-info {
    color: aliceblue;
    position: relative;
    /*bottom: -68%;*/
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-avatar {
    /*display: flex;*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f0f0f0; /* 添加一个背景色作为默认头像 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例填满头像区域 */
}

.grayed-out {
    filter: grayscale(100%);
}

.logout,
.login {
    padding: 8px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    color: white;
    background-color: #888;
    font-weight: bold;
    /*width: -8%;*/
}

.login {
    background-color: #262626;
}

.logout:hover,
.login:hover {
    background-color: #333333;
}


.login-status{
    font-size: 18px;
    font-weight: bold;
    color: #72787e;
}
/* Main content styles */
.main-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;

}





/* Chat log styles */
#chat-log {
    display: flex;
    overflow-y: scroll;
    flex-grow: 1;
    /* border: 1px solid #ccc; */
    padding: 10px;
    flex-direction: column;
}


/* 为chat-log的滚动条添加样式 */
#chat-log::-webkit-scrollbar {
    width: 8px;
}

#chat-log::-webkit-scrollbar-track {
    background: none;
}

#chat-log::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#chat-log::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gotofloor {
  position: absolute;
  bottom: 8%;
  right: 5%;
  width: 35px;
  height: 35px;
  background-color: #f9f9f9;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #cccccc;
}

.gotofloor:hover {
  background-color: #ebebeb;
}

/* Message styles */

pre {
  white-space: pre-wrap;
  /*font-family: monospace;*/
  /*background-color: #f5f5f5;*/
  /*padding: 5px;*/
  /*border: 2px solid #ccc; !* 添加边框 *!*/
}

#chat-log .message-ai,
#chat-log .message-user {
    display: inline-block; /* 根据内容自动调整大小 */
    max-width: 70%; /* 限制气泡的最大宽度 */
    margin-bottom: 10px;
    padding: 10px 15px; /* 增加内边距使其看起来更像气泡 */
    background-color: #f9f9f9;
    border-radius: 20px; /* 添加圆角 */
    white-space: pre-line;
    /*text-transform: capitalize;*/
    position: relative; /* 为后续的小尾巴做准备 */
    word-wrap: break-word;

}

#chat-log .message-ai {
    text-align: left;
    color: #606468;
    background-color: #f7f7f8; /* AI消息的背景颜色 */
    margin-left: 10px;
    font-family: 宋体;
    font-size: 15px;
}

#chat-log .message-user {
    text-align: left;
    color: #555;
    background-color: #f9f9f9; /* 用户消息的背景颜色 */
    margin-right: 10px;
    align-self: flex-end; /* 使用户消息靠右对齐 */
    font-family: 宋体;
    font-size: 15px;
}

/* 为AI和用户的消息添加小尾巴，使其更像真实的聊天气泡 */
#chat-log .message-ai::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #e6f7ff;
    position: absolute;
    left: -16px;
    top: 10px;
}

#chat-log .message-user::before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #f9f9f9;
    position: absolute;
    right: -16px;
    top: 10px;
}



.user-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.user_input {
  width: 100%;
  /* padding: 10px 10px 0; /* 调整上下内边距，让文本顶部对齐 */ 
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  font-size: 20px;
  color: rgba(0, 142, 198, 1);
  background: rgba(252, 252, 252, 1);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  overflow-y: auto;
  white-space: pre-wrap;
  vertical-align: top; /* 让文本顶部对齐 */
}

/* .textarea-container {
  display: inline-block; /* 需要一个容器来包裹，以防止一开始就铺满整行 */

.resizable-textarea {
  height: 24px; /* 设置默认显示一行高度 */
  resize: none; /* 禁止textarea的resize属性，防止用户手动调整高度 */
  max-height: 10rem; /* 设置最大显示8行高度 */
  overflow-y: auto; /* 超过8行启用垂直滚动条 */
  white-space: pre-wrap; /* 自动换行 */
  font-size: 18px;
}

/* Send button styles */
.user-input-container button {
    padding: 8px 15px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.user-input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.modal h3 {
    margin-top: 0;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.modal button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:last-child {
    background-color: #ccc;
}

.tips-list {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

.h-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
}

.svg-image{
    padding: 10px;
}

.icon {
    margin-right: 10px;
}

.tit {
    font-size: 18px;
    font-weight: bold;
}

.column ul {
    list-style-type: none;
    padding: 0;
    font-size: 13px;
    color: #444;
    line-height: 18px;
}

.q-preinstall{
    margin-bottom: 10px;
    cursor: pointer;
    /*transition: color 0.9s;*/
    transition: background-color 0.2s;
    background-color: #F7F7F7;
    padding: 15px 10px 15px 10px;
}

.q-preinstall:hover {
    background-color: transparent;
    /*color: aquamarine;*/
}

div.code-block {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}



.title {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    width: 132px;

}

.message {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    line-height: 18px;
    height: 54px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tutorial-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}


/*联系客服*/
.float[data-v-323e5e77] {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -110px;
    width: 17px;
    height: 108px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ddd;
    border-right: none;
    overflow: hidden;
    padding: 20px 10px;
    font-size: 14px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background .1s ease-in-out,color .1s ease-in-out;
}
.theme-light .float {
    background: #fff;
    color: #606468;
}

.float span[data-v-323e5e77] {
    line-height: 20px;
    text-align: center;
}




.icon svg {
    height: 100%; /* 设置图标的高度为与文本行高一致 */
    fill: #666666; /* 设置图标的颜色 */
}

.conversation-name {
    font-size: 16px; /* 设置文本的字体大小 */
}
.conversation-list ul {
    list-style-type: none; /* 移除默认的列表项符号 */
    padding-left: 0; /* 移除左侧的默认缩进 */
}

.conversation-list li {
    display: flex;
    align-items: center; /* 垂直居中对齐文本和图标 */
    gap: 10px; /* 图标和文本之间的间距 */
    padding: 5px 10px; /* 添加一些内边距以增加点击区域 */
    cursor: pointer; /* 设置指针光标以指示可点击 */
}


/*悬浮展示角色的scription*//* 给每个 li 元素添加一个相对定位 */
.model-item {
    position: relative;
}

/* 给包含完整文本内容的 p 元素添加样式 */
.model-item .message.show-all {
    white-space: normal; /* 显示完整文本 */
    background-color: #f9f9f9; /* 背景颜色 */
    padding: 5px; /* 添加内边距 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    position: absolute; /* 绝对定位，放置在对应 li 的底部 */
    top: 100%; /* 位于 li 元素下方 */
    left: 0;
    width: 100%;
    z-index: 1; /* 放在正文之上 */
    display: none; /* 默认隐藏 */
}

/* 悬停时显示完整文本内容 */
.model-item:hover .message.show-all {
    display: block;
    background: #ccc;
    color: aliceblue;

}

/*gpt3.5 4.0设置*/
.tab-model {
    display: flex;
    align-items: center;
    justify-content: center; /* 居中对齐 */
}

.tab-item-container {
    display: flex;
    align-items: center;
}

.tab-item {
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #f7f7f8;
    border: 1px solid #666; /* 添加黑色边框 */
}

/*vip*/
.module-footer {
    position: absolute;
    left: 98px;
    bottom: -7px;
    right: 0;
    height: 73px;
}
.box-vip {
    width: 185px;
    height: 50px;
    background: linear-gradient(30deg,#f7debe,#f4c384);
    border-radius: 10px;
    margin: 10px;
    padding: 8px 10px 5px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #9a5b12;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    cursor: pointer;
}
.icon {
    position: absolute;
    right: 1077px;
    top: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.title {
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    width: 100%;
}
.desc {
    width: 73%;
    line-height: 18px;
    font-size: 13px;
}

/*复制按钮*/
button {
  float: right;
}

/*新建会话*/
.module-header {
    width: 100%;
    padding: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.module-title {
    font-size: 15px;
    line-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.btn-group-add {
    width: 105%;
    color: #10a37f;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 33px;
    border-radius: 4px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-transition: background .1s ease-in-out,border-color .1s ease-in-out;
    transition: background .1s ease-in-out,border-color .1s ease-in-out;
}

.module-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 73px;
    padding: 0;
}

.scrollbar-wrapper {
    overflow-x: hidden!important;
}

.group-item {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    margin-bottom: 5px;
    position: relative;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

.scrollbar-wrapper {
    overflow-x: hidden!important;
}

.group-chat {
    padding: 10px 15px 0 0px;
}

.group-title {
    color: #72787e;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    font-size: 15px;
}

