html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    display: block;
}

.element.style {
    margin-bottom: -15px;
    margin-right: -15px;
}
.sidebar-container .scrollbar-wrapper {
    overflow-x: hidden!important;
}
.scrollbar-wrapper {
    height: 100%;
    overflow-x: hidden;
}
.el-scrollbar__wrap {
    overflow: scroll;
    height: 100%;
}



.sidebar-container .module-list .module-item {
    width: 80px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    color: #72787e;
    cursor: pointer;
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: color 0.1s ease-in-out;
}

/* SVG icon styles */
.icon {
    font-size: 30px;
    margin: 0 auto;
}

.icon svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.15em;
}

.icon {
    font-size: 30px;
    margin: 11px auto;
}
.svg-icon[data-v-f9f7fefc] {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
}

.sidebar-container .svg-icon {
    margin-right: 14px;
}

svg:not(:root) {
    overflow: hidden;
}


.main-container .wrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 15px;
    bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
}


.sidebar-container .module-write .group-write {
    padding: 0 15px;
}


.theme-light .sidebar-container .sub-module .group-write .prompt-item .prompt-desc {
    color: #666;
}

.main-container .wrapper .style-chat .list .row-ai .message {
    width: 100%;
    padding: 15px 0 20px 0;
}
.main-container .wrapper .box-msg-list .message {
    width: 768px;
    margin: 0 auto;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.theme-light .main-container .wrapper .welcome .h-item, .theme-light .main-container .wrapper .welcome .title {
    color: #606468;
}
.welcome .title[data-v-0d572f78] {
    font-size: 40px;
    color: #404040;
    text-align: center;
    line-height: 48px;
    margin: 30px 0;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}


/* Styles for the footer module */

.sidebar-container .module-footer .box-vip {
    width: 223px;
    height: 50px;
    background: linear-gradient(30deg,#f7debe,#f4c384);
    border-radius: 10px;
    margin: 10px;
    padding: 8px 10px 5px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #9a5b12;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    cursor: pointer;
}

.sidebar-container .menu-bottom .module-item {
    height: 66px;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 15px;
}

.sidebar-container .module-chat .group-chat {
    padding: 20px 15px 0 15px;
}

.avatar img {
  border-radius: 50%;
}

element.style {
    width: 360px;
}


.sidebar-container .scrollbar-wrapper {
    overflow-x: hidden!important;
}


.sidebar-container .module-chat .group-chat .group-item .group-title span {
    white-space: nowrap;
}

.sidebar-container .scrollbar-wrapper {
    overflow-x: hidden!important;
}
.sidebar-container .module-header {
    width: 100%;
    padding: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.theme-light .sidebar-container .sub-module {
    background: #f7f7f8;
}
.sidebar-container .sub-module {
    position: absolute;
    left: 100px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background: #666666;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.sidebar-container .module-footer .box-vip .title {
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}


.sidebar-container .module-footer .box-vip .icon {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.sidebar-container .module-footer .box-vip .icon {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.sidebar-container .module-footer {
    position: absolute;
    left: 1px;
    bottom: 27px;
    right: 0;
    height: 73px;
}

.sidebar-container .module-footer .box-vip .icon {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.sidebar-container .module-footer .box-vip .title {
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.sidebar-container .module-footer .box-vip .desc {
    width: 100%;
    line-height: 18px;
    font-size: 13px;
}


.float[data-v-323e5e77] {
    position: fixed;
    right: 9px;
    top: 50%;
    margin-top: -80px;
    width: 19px;
    height: 110px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ddd;
    border-right: none;
    overflow: hidden;
    padding: 20px 10px;
    font-size: 16px;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: background .1s ease-in-out,color .1s ease-in-out;
    transition: background .1s ease-in-out,color .1s ease-in-out;
}
.theme-light .float {
    background: #fff;
    color: #606468;
}

.float .icon[data-v-323e5e77] {
    font-size: 24px;
    margin-bottom: 5px;
}

.svg-icon[data-v-f9f7fefc] {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
}
.float span[data-v-323e5e77] {
    line-height: 20px;
    text-align: center;
}

.float .icon[data-v-323e5e77] {
    font-size: 24px;
    margin-bottom: 5px;
}
.svg-icon[data-v-f9f7fefc] {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
}
.theme-light .float {
    background: #fff;
    color: #606468;
}

.el-icon-plus:before {
    content: "\e6d9";
}

.sidebar-container .module-header {
    width: 100%;
    padding: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.module-list {
  position: relative;
}


.sidebar-container .module-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    bottom: 0;
    padding: 20px 10px;
    color: #72787e;

}

.module-list img {
    position: absolute;
    bottom: 29px;
    left: 26px;
    width:45px;
}


.theme-light .main-container .wrapper .tab-model .tab-item.active, .theme-light .main-container .wrapper .tab-model .tab-item:hover {
    color: #606468;
    /*border: 1px solid #72787e;*/
}


.sidebar-container {
    width: 360px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

#app, html, #sub-module, body {
    height: 100%;
}

.main-container {
    min-height: 100%;
    /*margin-left: 360px;*/
    position: relative;
    padding-top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 800px;
}

.sidebar-container .module-header {
    width: 100%;
    padding: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.sidebar-container .module-chat .module-header .btn-group-add .icon {
    font-size: 16px;
    margin-right: 5px;
}

[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-container .module-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 62px;
    bottom: 73px;
    padding: 0;
}



a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.welcome[data-v-0d572f78] {
    width: 768px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
}

.welcome .title[data-v-0d572f78] {
    font-size: 40px;
    color: #404040;
    text-align: center;
    line-height: 48px;
    margin: 30px 0;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.welcome .tips-list[data-v-0d572f78] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}

.welcome .tips-list .column[data-v-0d572f78] {
    width: 33%;
    padding: 0 10px;
    text-align: center;
}

.welcome .tips-list .column .h-item[data-v-0d572f78] {
    margin-bottom: 20px;
}
.welcome .tips-list .column .h-item[data-v-0d572f78] {
    color: #666;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}
.theme-light .main-container .wrapper .welcome .h-item, .theme-light .main-container .wrapper .welcome .title {
    color: #606468;
}

.theme-light .main-container .wrapper .tab-model {
    background: #f7f7f8;
}

.main-container .wrapper .tab-model .tab-item {
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/*输入框*/


.el-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}



/*按钮*/
.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio {
    -webkit-user-select: none;
}
.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio, .el-slider__button, .el-slider__button-wrapper, .el-step__icon-inner {
    -moz-user-select: none;
    -ms-user-select: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}


body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
     /* 设置白天背景样式 */
    background: #f7f7f8;
}

/* 设置白天背景样式 */
#theme-overlay {
  background-color: #f7f7f8;
}

/* 设置晚上背景样式 */
#theme-overlay.night-mode {
  background-color: #ffffff;
}


.theme-light .main-container .wrapper .tab-model {
    background: black;
}
.main-container .wrapper .tab-model {
    width: 160px;
    height: 36px;
    left: 50%;
    top: 20px;
    margin-left: -80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}
.main-container .wrapper, .main-container .wrapper .tab-model {
    border-radius: 10px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-container .wrapper .box-input .copyright {
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    max-width: 100%;
    line-height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.theme-light .main-container .wrapper .welcome .tips-list .column li {
    background: #f7f7f8;
    color: #606468;
}
.welcome .tips-list .column li[data-v-0d572f78] {
    background: #f7f7f8;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 12px 15px;
    font-size: 13px;
    color: #444;
    line-height: 18px;
    cursor: default;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}



.theme-light .main-container .wrapper .box-input .btn-send {
    background: #f7f7f8!important;
    color: #72787e;
}



[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio {
    -webkit-user-select: none;
}
.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio, .el-slider__button, .el-slider__button-wrapper, .el-step__icon-inner {
    -moz-user-select: none;
    -ms-user-select: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}


.main-container .wrapper .box-input .input .btn-send {
    position: absolute;
    right: 1px;
    bottom: 1px;
    border: none;
    height: 44px;
    -webkit-transition: background .1s ease-in-out,color .1s ease-in-out;
    transition: background .1s ease-in-out,color .1s ease-in-out;
}





.el-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

.theme-light .main-container .wrapper .box-input .input .el-textarea__inner {
    background: #f7f7f8;
    color: #72787e;
}
.input .el-textarea__inner {
    padding: 10px 60px 10px 15px;
    letter-spacing: 14px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font-size: 16px;
}
.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-input__inner, .el-textarea__inner {
    background-image: none;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-color-picker__color, .el-color-picker__trigger, .el-input__inner, .el-textarea__inner, .el-transfer-panel {
    -webkit-box-sizing: border-box;
}
textarea {
    overflow: auto;
}


.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio {
    -webkit-user-select: none;
}
.el-button, .el-checkbox, .el-checkbox-button__inner, .el-empty__image img, .el-image-viewer__btn, .el-radio, .el-slider__button, .el-slider__button-wrapper, .el-step__icon-inner {
    -moz-user-select: none;
    -ms-user-select: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}


.main-container .wrapper .box-input {
    width: 100%;
    /*background: #ffffff;*/
    position: absolute;
    bottom: -6px;
    left: 0;
    padding: 20px 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

.theme-light .main-container .wrapper .box-input .input {
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.main-container .wrapper .box-input .input {
    width: 810px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border-radius: 10px;
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
}

.el-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}


.sidebar-container .module-chat .group-chat {
    padding: 20px 15px 0 15px;
}

.sidebar-container .module-chat .module-header .module-title {
    font-size: 14px;
    line-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}


.sidebar-container .module-chat .module-header .btn-group-add {
    width: 99%;
    color: #10a37f;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border-radius: 4px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-transition: background .1s ease-in-out,border-color .1s ease-in-out;
    transition: background .1s ease-in-out,border-color .1s ease-in-out;
}
.theme-light .sidebar-container .module-list .module-item.active, .theme-light .sidebar-container .module-list .module-item:hover {
    color: #72787e;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.theme-light {
    background: #eff0f0;
}

.sidebar-container .module-chat .group-chat .group-item .group-title {
    color: #72787e;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.gotofloor {
  position: absolute;
  bottom: 11%;
  right: 5%;
  width: 35px;
  height: 35px;
  background-color: #f9f9f9;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    border: 2px solid #cccccc;
}

.gotofloor:hover {
  background-color: #ebebeb;
}

.input button:disabled {
    background-color: #fff;
    cursor: not-allowed;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    width: 400px;
}

.modal h3 {
    margin-top: 0;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.modal button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:last-child {
    background-color: #ccc;
}

.sidebar-container .el-input__inner {
    -webkit-transition: background .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
    transition: background .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
}
.el-input--prefix .el-input__inner {
    padding-left: 30px;
}
.el-input--suffix .el-input__inner {
    padding-right: 30px;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.el-input__inner, .el-textarea__inner {
    background-image: none;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-color-picker__color, .el-color-picker__trigger, .el-input__inner, .el-textarea__inner, .el-transfer-panel {
    -webkit-box-sizing: border-box;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/*角色的类别和批注*/
.theme-light .sidebar-container .sub-module .group-write .topic-title {
    color: #606468;
}
.sidebar-container .module-write .group-write .topic-title {
    font-size: 14px;
    line-height: 48px;
}
.theme-light .sidebar-container .sub-module .group-write .prompt-item .prompt-desc {
    color: #666;
}
.sidebar-container .module-write .group-write .prompt-item .prompt-desc {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    line-height: 18px;
    height: 54px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.sidebar-container .module-write .group-write .prompt-item .prompt-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

/* 在CSS中定义黑夜模式和白天模式的背景颜色 */
.dark-theme {
  background-color: #999999; /* 设置黑夜模式的背景颜色为黑色 */
}
/* 设置白天图标为黑色并调整位置居中 */
.icon-black {
  /*fill: black;*/
    stroke: black;
  transform: translateX(20%);
}

/* 设置黑夜图标的外边框为黑色 */
.icon-white path {
    /*fill: white;*/
    stroke: black;
    transform: translateX(1%);
}